
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shear styles */
.display-flex{
  display: flex;
}
/* darj01 */
.text-gray{
  color: #131313;

}
/* dark02 */
.text-light-gray{

  color: #424242;
}
/* dark03 */
.text-dark-gray{
  color: #727272;
}

.bg-light{
  background-color:rgba(255, 144, 14, 0.1);
  

}
.primary-btn{
  background-color: rgba(255, 144, 14, 1);
  padding: 20px 20px 25px 25px;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 9px;
  border: none;
  

}
  



/* normal styles */





/* navber styles */


/* G3 Architects */


.navber{
  justify-content: space-between; 
  align-items: center;
  
}

.brand{
  font-weight: 700;
  font-size: 3rem;
}




.nav-item{

  list-style:none;
  margin-right: 30px;
   

}

.navber{
  text-decoration: none;
  font-weight: 500px;
 font-size: 18px;
}

.navber ,banner{ 
  max-width: 1400px;
  margin: 0 auto;
}
.banner-conten{
  font-weight: 862px;
  margin: 0 auto;

}
/* banner related */
.banner-content{

  max-width: 561px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
}

.banner-titel{
  font-weight: 700;
  font-size: 4rem;
  color: #000000;

}
.banner-img{
  display: flex;
  justify-content: center;
  min-width: 100%;
}



.main{
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 130px;
}

.teams{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
 
}
.teams-img-continer{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 24px;
}

.our-features{
  margin-left: 73px;
  max-width: 537px;
}

.section-titel{
  font-size: 45px;
  margin-bottom: 24px;
}

#quick-titel{
  color: #727272;
  font-weight: 500px;
}

.of-tittel{
  font-weight: 700px;
  color: #131313;
}

.fea{
  font-weight: 700;
  color: rgba(255, 144, 14, 1);
}

/* Some Facts */

.pl{
  font-size: 16px;
  color: #727272;
  max-width: 540px;
  /* text-align: left; */
  margin-bottom: 100px;
  
}
.facts-continer{
  display: grid;
  grid-template-columns: repeat(4,1fr);

}

.facts-card{
  border: 1px solid #FF900E;
  height: 240px;
  width: 240px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  
}
.facts-number{
  font-size: 45px;
  font-weight: 600;
  color: #424242;
  margin-top: 5px;
  margin-bottom: 10px;
}
.facts-name{
  font-size: 20px;
  font-weight: 600;
  color: #727272;
  margin-top: 10px;

}



@media screen and (max-width:576px){
.navber .navber .{
  flex-direction: column;
}
.banner-img{
  flex-direction: column;
}
.teams-img-continer{
  grid-template-columns: repeat(1,1fr);
  text-align: center;
 
}

.our-features{
  flex-direction: column;
  flex-wrap: wrap;
}
/* responsive isuuue */

.features-titel{
 
  flex-direction: column;
}
.nav-likns{
  flex-direction: column;
  flex-wrap: wrap;
}



}
@media screen and (min-width:576px) and (max-width:992px){
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 40px auto;
  }


}
